html
    head
        title Finanzas Personales
    body
        nav
            ul 
                li 
                    a(href='/users') Nuevo usuario
                    a(href='/users/login' style='margin-left: 30px') Ingresar
                    a(href='/app' style='margin-left: 30px') Home
        block contenido
