extends ../../base.pug
block contenido
    h1 Reporte
    h2 Categoria de mayor gastos en un mes seleccionado
    br
    form(action='/app/reportes/catXmes' method='POST')
        label(for='mes') Selecciona un mes: 
        select(id='mes' name='mes')
            each mes, index in ['-- Selecciona un mes --',"Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
                option(value=index) #{mes}
        input(type='submit' value='Generar')
        
        