extends ../../base.pug
block contenido
    h1 generar reportes
    ul
        li
            a(href='reportes/catXmes') Categorias de mayor gasto por mes seleccionado
        li
            a(href='reportes/gasXmes') Gastos por categoria por mes seleccionado