extends ../base.pug
block contenido  
    form(action='/app/categorias/edit' method='GET')
        input(type='submit' value='Nueva Categoria')
    for categoria in categorias
        if categoria.creatorId == 1
            h3 #{categoria.nombre}
            br
        else
            a(href= '/app/categorias/' + categoria.id +'/edit')
                h3 #{categoria.nombre}
                form(action='/app/categorias/'+categoria.id+'/edit?_method=DELETE' method='POST')
                    input(type='submit' value='Eliminar')