extends ../base.pug
block contenido   
    h1 Editar cliente
    form(action='/app/clientes/'+id+'/edit?_method=PUT' method='POST')
        div
            label(for='nombre') Nombre: 
            input(type='text' name='nombre' id='nombre' value=nombre)
            label(for='birthDate') Fecha de nacimiento: 
            input(type='date' name='birthDate' id='birthDate' value=birthDate)
        div
            input( type='submit' value='Guardar' class='btn btn-info')



    a(href='/app') Volver a home