extends ../base.pug
block contenido   
    div
        h1 Hola #{nombre}
        if ingresos
            h3 Tienes unos ingresos de: #{ingresos.toFixed(2)}
        if gastos
            h3 Tienes unos gastos de: #{gastos.toFixed(2)}
        if balance
            h3 Tienes un balance de: #{balance.toFixed(2)}
        else
            h3 No tienes transacciones registradas

        if admin
            h1 Panel de control
            a(href='/app/admin/monedas') Cambios de moneda
            br
            a(href='/app/admin/categorias') Cambios de categorias
            br
            a(href='/app/admin/clientes') Cambios de clientes
        h1 Finanzas personales
        a(href='/app/perfil') Perfil
        br
        a(href='/app/categorias') Categorias personales
        br
        a(href='/app/gastos/gastos') registrar gasto
        br
        a(href='/app/gastos/ingresos') registrar ingreso
         br
        a(href='/app/gastos/gastos/listado') verificar gastos
        br
        a(href='/app/gastos/ingresos/listado') verificar ingresos
        br
        a(href='/app/reportes') Generar reportes


